@import "../../styles/shared-vars";

.content {
    background-color: $white;
    display: grid;
    grid-template-columns: 100%;
    padding: 0 2rem 0;

    @media screen and (min-width: 768px) {
        grid-template-columns: 60% 40%;
        padding: 0 2.5rem 0 2.5rem;
    }
}

.content__imageWrapper {
    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.content__image {
    width: 100%;
}

.content__priceWrapper {
    @media screen and (min-width: 768px) {
        border-left: 1px solid $stormDustBorder;
        margin-left: 3rem;
        padding: 2.5rem 0rem 1.2rem 2.5rem;
        text-align: left;
    }
}

.offer {
    color: $redBerry;
    font-size: 1.15rem;
    font-weight: 400;
}

.price {
    font-size: 2.1rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.warranty {
    color: $everglade;
    font-size: 1.15rem;
    font-weight: 400;
    margin-bottom: 5rem;

    @media screen and (min-width: $media-m-breakpoint) {
        margin-bottom: 0rem;
    }
}
