*.vscode/
*.next/

# Ignore local development folders
.npm
node_modules

# Testing
coverage
.nyc_output

# New Relic
newrelic*
!newrelic.js

# Ignore .env local overrides
.env*.local

# Unused TypeScript build artefact
tsconfig.tsbuildinfo